body {
    background-color: rgb(79, 158, 72);

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #5a4975;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    color: royalblue;
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(155, 71, 189);
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    margin-top: 20px;
    background: #8826c0;
    padding: 10px;
}
